<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

In [41]:
%reload_ext sql
%sql sqlite:///my_data1.db

In [42]:
%%sql
DROP TABLE IF EXISTS SPACEXTABLE;
CREATE TABLE SPACEXTABLE AS
SELECT * FROM SPACEXTBL WHERE Date IS NOT NULL;

 * sqlite:///my_data1.db
Done.
Done.

[]

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [22]:
import sys
!{sys.executable} -m pip install requests
import sqlite3
import pandas as pd

con = sqlite3.connect("my_data1.db")

%pip install sqlalchemy==1.3.9
%pip install -U ipython-sql sqlalchemy

%config SqlMagic.style = 'PLAIN_COLUMNS'

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (2.32.5)
Requirement already satisfied: charset_normalizer<4,>=2 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from requests) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from requests) (2.6.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from requests) (2025.11.12)
Defaulting to user installation because normal site-packages is not writeable
Collecting sqlalchemy==1.3.9
  Using cached sqlalchemy-1.3.9-cp39-cp39-macosx_10_9_universal2.whl
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.45
    Uninstalling SQLAlchemy-2.0.45:
      Successfully uninstalled SQLAlchemy-2.0.45
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.
Successfully installed sqlalchemy-1.3.9
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (0.5.0)
Requirement already satisfied: sqlalchemy in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (1.3.9)
Collecting sqlalchemy
  Using cached sqlalchemy-2.0.45-py3-none-any.whl.metadata (9.5 kB)
Requirement already satisfied: prettytable in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (8.18.1)
Requirement already satisfied: sqlparse in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython-genutils in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: decorator in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: jedi>=0.16 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments>=2.4.0 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: stack-data in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: exceptiongroup in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (1.3.1)
Requirement already satisfied: pexpect>4.3 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.14)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython->ipython-sql) (3.0.1)
Requirement already satisfied: pure-eval in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython->ipython-sql) (0.2.3)
Using cached sqlalchemy-2.0.45-py3-none-any.whl (1.9 MB)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.45
Note: you may need to restart the kernel to use updated packages.

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [23]:
%pip install ipython-sql
%pip install ipython-sql prettytable

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (0.5.0)
Requirement already satisfied: prettytable in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (8.18.1)
Requirement already satisfied: sqlalchemy>=2.0 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (2.0.45)
Requirement already satisfied: sqlparse in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython-genutils in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: decorator in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: jedi>=0.16 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments>=2.4.0 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: stack-data in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: exceptiongroup in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (1.3.1)
Requirement already satisfied: pexpect>4.3 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.14)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython->ipython-sql) (3.0.1)
Requirement already satisfied: pure-eval in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython->ipython-sql) (0.2.3)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (0.5.0)
Requirement already satisfied: prettytable in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (3.16.0)
Requirement already satisfied: ipython in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (8.18.1)
Requirement already satisfied: sqlalchemy>=2.0 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (2.0.45)
Requirement already satisfied: sqlparse in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython-genutils in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from prettytable) (0.2.14)
Requirement already satisfied: greenlet>=1 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: decorator in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: jedi>=0.16 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments>=2.4.0 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: stack-data in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: exceptiongroup in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (1.3.1)
Requirement already satisfied: pexpect>4.3 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython->ipython-sql) (3.0.1)
Requirement already satisfied: pure-eval in /Users/camelliayi/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython->ipython-sql) (0.2.3)
Note: you may need to restart the kernel to use updated packages.

In [24]:

%reload_ext sql

In [42]:
import pandas as pd
import sqlite3

df = pd.read_csv(
    "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv"
)


with sqlite3.connect("my_data1.db") as con:
    df.to_sql("SPACEXTBL", con, if_exists="replace", index=False)

print("SPACEXTBL created successfully")

SPACEXTBL created successfully

In [26]:
%pip install -q pandas

Note: you may need to restart the kernel to use updated packages.

In [27]:
%reload_ext sql
%sql sqlite:///my_data1.db
%config SqlMagic.style = 'PLAIN_COLUMNS'

In [28]:
import pandas as pd

# Load SpaceX dataset (IBM / Coursera capstone)
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Write to SQLite
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

df.head()

import os
os.environ["DATABASE_URL"] = "sqlite:///my_data1.db"

**Note:This below code is added to remove blank rows from table**

In [40]:
pd.read_sql("""
DROP TABLE IF EXISTS SPACEXTABLE;
""", con)

pd.read_sql("""
CREATE TABLE SPACEXTABLE AS
SELECT *
FROM SPACEXTBL
WHERE Date IS NOT NULL;
""", con)

# Quick verify
pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", con)

TypeError: 'NoneType' object is not iterable

In [37]:
pd.read_sql("""DROP TABLE IF EXISTS SPACEXTABLE;

CREATE TABLE SPACEXTABLE AS
SELECT *
FROM SPACEXTBL
WHERE Date IS NOT NULL;""", con)

DatabaseError: Execution failed on sql 'DROP TABLE IF EXISTS SPACEXTABLE;

CREATE TABLE SPACEXTABLE AS
SELECT *
FROM SPACEXTBL
WHERE Date IS NOT NULL;': You can only execute one statement at a time.

## Tasks (Fixed)

Run each query cell below. These queries match the Coursera / IBM SpaceX SQL lab tasks and will output correctly from the `spacex` table.

### Task 1

**Display the names of the unique launch sites in the space mission.**

In [32]:
pd.read_sql("""SELECT DISTINCT Launch_Site
FROM SPACEXTABLE;""", con)

    Launch_Site
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40

### Task 2

**Display 5 records where launch sites begin with the string 'CCA'.**

In [34]:
pd.read_sql("""SELECT *
FROM spacex
WHERE "LaunchSite" LIKE 'CCA%'
LIMIT 5;""", con)

DatabaseError: Execution failed on sql 'SELECT *
FROM spacex
WHERE "LaunchSite" LIKE 'CCA%'
LIMIT 5;': no such table: spacex

### Task 3

**Display the total payload mass carried by boosters launched by NASA (CRS).**

In [14]:
%%sql
SELECT SUM("PayloadMass") AS Total_Payload_Mass
FROM spacex
WHERE "Customer" LIKE 'NASA (CRS)%';

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such table: spacex
[SQL: SELECT SUM("PayloadMass") AS Total_Payload_Mass
FROM spacex
WHERE "Customer" LIKE 'NASA (CRS)%';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 4

**Display average payload mass carried by booster version F9 v1.1.**

In [15]:
%%sql
SELECT AVG("PayloadMass") AS Avg_Payload_Mass
FROM spacex
WHERE "BoosterVersion" = 'F9 v1.1';

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such table: spacex
[SQL: SELECT AVG("PayloadMass") AS Avg_Payload_Mass
FROM spacex
WHERE "BoosterVersion" = 'F9 v1.1';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 5

**List the date when the first successful landing outcome in ground pad was achieved.**

*(Hint: use MIN)*

In [16]:
%%sql
SELECT MIN("Date") AS First_Successful_Ground_Landing
FROM spacex
WHERE "Landing_Outcome" = 'True RTLS';

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such table: spacex
[SQL: SELECT MIN("Date") AS First_Successful_Ground_Landing
FROM spacex
WHERE "Landing_Outcome" = 'True RTLS';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 6

**List the names of the boosters which have success in drone ship and have payload mass > 4000 and < 6000.**

In [17]:
%%sql
SELECT DISTINCT "BoosterVersion"
FROM spacex
WHERE "Landing_Outcome" = 'True ASDS'
  AND "PayloadMass" > 4000
  AND "PayloadMass" < 6000;

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such table: spacex
[SQL: SELECT DISTINCT "BoosterVersion"
FROM spacex
WHERE "Landing_Outcome" = 'True ASDS'
  AND "PayloadMass" > 4000
  AND "PayloadMass" < 6000;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 7

**List the total number of successful and failure mission outcomes.**

In [ ]:
%%sql
SELECT "Mission_Outcome" AS Mission_Result,
       COUNT(*) AS Total_Missions
FROM spacex
GROUP BY "Mission_Outcome";

### Task 8

**List all booster_versions that have carried the maximum payload mass (use a subquery).**

In [ ]:
%%sql
SELECT DISTINCT "BoosterVersion"
FROM spacex
WHERE "PayloadMass" = (
    SELECT MAX("PayloadMass")
    FROM spacex
);

### Task 9

**List the records which will display the month, failure landing outcomes in drone ship, booster versions, and launch site for the months in year 2015.**

*Note: SQLite does not support month names, so use `substr(Date, 6, 2)` for the month and `substr(Date, 0, 5)='2015'` for year.*

In [ ]:
%%sql
SELECT
    substr("Date", 6, 2) AS Month,
    "Landing_Outcome",
    "BoosterVersion",
    "LaunchSite"
FROM spacex
WHERE substr("Date", 0, 5) = '2015'
  AND "Landing_Outcome" = 'False ASDS';

### Task 10

**Rank the count of landing outcomes between 2010-06-04 and 2017-03-20 in descending order.**

In [9]:
%%sql
SELECT
    "Landing_Outcome",
    COUNT(*) AS Outcome_Count
FROM spacex
WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY "Landing_Outcome"
ORDER BY Outcome_Count DESC;

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such table: spacex
[SQL: SELECT
    "Landing_Outcome",
    COUNT(*) AS Outcome_Count
FROM spacex
WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY "Landing_Outcome"
ORDER BY Outcome_Count DESC;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

## SQL Tasks (Corrected & Verified)

### Display the names of the unique launch sites in the space mission.

In [ ]:
%%sql
SELECT DISTINCT LaunchSite FROM SPACEXTABLE;

### Display 5 records where launch sites begin with the string 'CCA'.

In [ ]:
%%sql
SELECT * FROM SPACEXTABLE WHERE LaunchSite LIKE 'CCA%' LIMIT 5;

### Display the total payload mass carried by boosters launched by NASA (CRS).

In [ ]:
%%sql
SELECT SUM(PayloadMass) AS Total_Payload_Mass FROM SPACEXTABLE WHERE Customer LIKE 'NASA (CRS)%';

### Display average payload mass carried by booster version F9 v1.1.

In [ ]:
%%sql
SELECT AVG(PayloadMass) AS Avg_Payload_Mass FROM SPACEXTABLE WHERE BoosterVersion='F9 v1.1';

### List the date when the first successful landing outcome in ground pad was achieved.

In [ ]:
%%sql
SELECT MIN(Date) AS First_Successful_Ground_Landing FROM SPACEXTABLE WHERE Landing_Outcome='True RTLS';

### List the names of the boosters which have success in drone ship and payload mass between 4000 and 6000.

In [ ]:
%%sql
SELECT DISTINCT BoosterVersion FROM SPACEXTABLE WHERE Landing_Outcome='True ASDS' AND PayloadMass BETWEEN 4000 AND 6000;

### List the total number of successful and failure mission outcomes.

In [ ]:
%%sql
SELECT Mission_Outcome, COUNT(*) AS Total FROM SPACEXTABLE GROUP BY Mission_Outcome;

### List all booster versions that have carried the maximum payload mass.

In [ ]:
%%sql
SELECT DISTINCT BoosterVersion FROM SPACEXTABLE WHERE PayloadMass=(SELECT MAX(PayloadMass) FROM SPACEXTABLE);

### List records for failure drone ship landings in 2015.

In [ ]:
%%sql
SELECT substr(Date,6,2) AS Month, Landing_Outcome, BoosterVersion, LaunchSite FROM SPACEXTABLE WHERE substr(Date,1,4)='2015' AND Landing_Outcome='False ASDS';

### Rank landing outcomes between 2010-06-04 and 2017-03-20.

In [ ]:
%%sql
SELECT Landing_Outcome, COUNT(*) AS Outcome_Count FROM SPACEXTABLE WHERE Date BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY Landing_Outcome ORDER BY Outcome_Count DESC;